!!! 5
html
	head
		link(rel='stylesheet', type='text/css', href='/stylesheets/nouislider.fox.css')
		script(src="/socket.io/socket.io.js")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
		script(src="/javascripts/jquery.nouislider.js")
		script

			function getOnSetColorTemp (address, temp, t) {
				return function (event) {
					socket.emit('tcp', '{"command":"set_colorTemp", "parameters":{"address":"' + address + '", "colorTemp":' + t + '}};');
					console.log(address + ' ' + temp);
				}
			}

			var socket = io.connect(document.location.href);

			socket.emit('hello', '{"command":"get_status"};');

			socket.on('httpServer', function (data) {

				data = JSON.parse(data);
				var temps = [0, 3000, 3500, 4000, 4500];
				var colorParams = {"ccx":0.4258, "ccy":.3846, "lumens":5000, "reveal":5};
				var list = document.getElementById('Gourds');
				var i = data.length;					
				var gourd;
				var li;
				var sliderEle;
				var eleId;
				var span;
				var btn;
				var t;
				var space;
				var audioEl;
				var audioSrc;
				var examples = [];

				while(i--) {
					gourd = data[i];
					li = document.getElementById(gourd.address);
					
					if(!li) {
						li = document.createElement('li');
						li.id = gourd.address; 
						list.appendChild(li);

						audioEl = document.createElement('audio');
						audioEl.setAttribute("preload", "none");
						audioEl.autobuffer = false;
						audioEl.controls = true;

						audioSrc = document.createElement('source');
						audioSrc.type = 'audio/mpeg';
						audioSrc.src = 'http://192.168.2.2:8000/raspberrypi.m3u';
						audioEl.appendChild(audioSrc);

						span = document.createElement('span');
						li.appendChild(span);
						var br = document.createElement("br");
						li.appendChild(br);

						t = temps.length;

						while(t--) {
							space = document.createTextNode(" ");
							btn = document.createElement("BUTTON");
							btn.href = 'javascript:';
							btn.innerHTML = temps[t] + "K";
							btn.addEventListener('click', getOnSetColorTemp(gourd.address, temps[t], t), true);
							li.appendChild(space);
							li.appendChild(btn);
						}

						//lumens
						eleId = gourd.address + '_lumens';
						sliderEle = document.createElement('div');
						sliderEle.className = 'noUiSlider';
						var br = document.createElement("br");
						li.appendChild(br);
						var br = document.createElement("br");
						li.appendChild(br);
						li.appendChild(sliderEle);
						var br = document.createElement("br");
						li.appendChild(br);

						examples.push({
							range: [0,10000]
							,start: [5000]
							,handles: 1
							,step:20
							,slide:function(){
								var values=$(this).val();
								colorParams.lumens = values
								socket.emit('tcp', '{"command":"set_params", "parameters":{"ccx":0.4258, "ccy":0.3846, "lumens":' + colorParams.lumens + ', "reveal":' + colorParams.reveal + '}};');
								console.log('emitted TCP', colorParams);
							}
						});

						//reveal
						eleId = gourd.address + '_reveal';
						sliderEle = document.createElement('div');
						sliderEle.className = 'noUiSlider';
						var br = document.createElement("br");
						li.appendChild(br);
						li.appendChild(sliderEle);
						var br = document.createElement("br");
						li.appendChild(br);
						examples.push({
							range: [0,10]
							,start: [3]
							,handles: 1
							,step:1
							,slide:function(){
								var values=$(this).val();
								colorParams.reveal = values
								socket.emit('tcp', '{"command":"set_params", "parameters":{"ccx":0.4258, "ccy":0.3846, "lumens":' + colorParams.lumens + ', "reveal":' + colorParams.reveal + '}};');
								console.log('emitted TCP', colorParams);
							}
						});

						var br = document.createElement("br");
						li.appendChild(br);
						li.appendChild(audioEl);

						$('.noUiSlider').each(function(i){
							$(this).noUiSlider(examples[i]);
						});
					}

					span = li.getElementsByTagName('span')[0];
					span.innerHTML =
						gourd.address 
						+ ' - ' + ((gourd.listening) ? 'listening' : 'deaf')
						+ ' - ' + ((gourd.hot) ? 'hot' : 'cold')
						+ ' - color: ' + gourd.colorTemp
						+ ' - dimming: ' + gourd.dimming;

					console.log(gourd);
				}
			});

	body
		ul#Gourds