!!! 5
html
	head
		link(rel='stylesheet', type='text/css', href='/stylesheets/nouislider.fox.css')
		script(src="/socket.io/socket.io.js")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
		script(src="/javascripts/jquery.nouislider.js")
		script

			function getOnSetColorTemp (address, temp, t) {
				return function (event) {
					socket.emit('tcp', '{"command":"set_colorTemp", "parameters":{"address":"' + address + '", "colorTemp":' + t + '}};');
					console.log(address + ' ' + temp);
				}
			}

			var socket = io.connect(document.location.href);

			socket.emit('hello', '{"command":"get_status"};');

			socket.on('httpServer', function (data) {

				data = JSON.parse(data);
				var temps = [0, 3000, 3500, 4000, 4500];
				var list = document.getElementById('Gourds');
				var i = data.length;					
				var gourd;
				var li;
				var span;
				var btn;
				var t;
				var space;
				var audioEl;
				var audioSrc;

				while(i--) {
					gourd = data[i];
					li = document.getElementById(gourd.address);
					
					if(!li) {
						li = document.createElement('li');
						li.id = gourd.address; 
						list.appendChild(li);

						audioEl = document.createElement('audio');
						audioEl.setAttribute("preload", "none");
						audioEl.autobuffer = false;
						audioEl.controls = true;

						audioSrc = document.createElement('source');
						audioSrc.type = 'audio/mpeg';
						audioSrc.src = 'http://192.168.2.2:8000/raspberrypi.m3u';
						audioEl.appendChild(audioSrc);

						$(".noUiSlider").noUiSlider({
							range: [0, 10]
							,start: [0]
							,step: 1
							,handles: 1
							,orientation: "horizontal"
							,slide: function(){
								var values = $(this).val();
								//socket.emit('tcp', '{"command":"set_dimming", "parameters":{"address":"' + gourd.address + '", "dimming":' + values + '}};');
								socket.emit('tcp', '{"command":"set_currents", "parameters":{"ccx":0.4258, "ccy":0.3846, "lumens":4000, "reveal":' + values + ".0" + '}};');
								//console.log(gourd.address + ' ' + values);
								console.log('emitted TCP');
							}
						});

						span = document.createElement('span');
						li.appendChild(span);
						var br = document.createElement("br");
						li.appendChild(br);

						t = temps.length;

						while(t--) {
							space = document.createTextNode(" ");
							btn = document.createElement("BUTTON");
							btn.href = 'javascript:';
							btn.innerHTML = temps[t] + "K";
							btn.addEventListener('click', getOnSetColorTemp(gourd.address, temps[t], t), true);
							li.appendChild(space);
							li.appendChild(btn);
						}

						var br = document.createElement("br");
						li.appendChild(br);
						li.appendChild(audioEl);
					}

					span = li.getElementsByTagName('span')[0];
					span.innerHTML =
						gourd.address 
						+ ' - ' + ((gourd.listening) ? 'listening' : 'deaf')
						+ ' - ' + ((gourd.hot) ? 'hot' : 'cold')
						+ ' - color: ' + gourd.colorTemp
						+ ' - dimming: ' + gourd.dimming;

					console.log(gourd);
				}
			});

	body
		ul#Gourds
		//input(type='text' data-slider='true' data-slider-range='100,500' data-slider-step='100' data-slider-snap='true')
		//<input id="Slider" type="text" data-slider="true" data-slider-range="0,100" data-slider-step="5" data-slider-snap="false" data-slider-highlight="true">
		<div class="noUiSlider"></div>

