!!! 5
html
	head
		script(src="/socket.io/socket.io.js")
		script
			var socket = io.connect(document.location.href);
				socket.on('httpServer', function (data) {

					data = JSON.parse(data);
					var list = document.getElementById('Gourds');
					var li = document.getELementById(data.address);
					
					if(!li) {
						document.createElement('li');
						li.id = data.address; 
						list.appendChild(li);
					}

					li.innerHTML = 
						data.address 
						+ ' - ' + ((data.listening) ? 'listening' : 'deaf')
						+ ' - ' + ((data.hot) ? 'hot' : 'cold')
						+ ' - color: ' + data.colorTemp 
						+ ' - dimming: ' + data.dimming;

					console.log(data);
					document.write(data + "\r\n");
					socket.emit('tcp', '{"command":"set_colorTemp", "parameters":{"address":"localhost", "colorTemp":"4000"}}');
				});
	body
		ul#Gourds