!!! 5
html
	head
		link(rel='stylesheet', type='text/css', href='/stylesheets/simple-slider.css')
		script(src="/socket.io/socket.io.js")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
		script(src="/javascripts/simple-slider.js")
		script

			function getOnSetColorTemp (address, temp) {
				return function (event) {
					socket.emit('tcp', '{"command":"set_colorTemp", "parameters":{"address":"' + address + '", "colorTemp":' + temp + '}}');
					console.log(address + ' ' + temp);
				}
			}

			function getOnSetDimming (address, dimming) {
				return function (event) {
					socket.emit('tcp', '{"command":"set_dimming", "parameters":{"address":"' + address + '", "dimming":' + dimming + '}}');
					console.log(address + ' ' + dimming);
				}
			}

			var socket = io.connect(document.location.href);
			socket.emit('hello', '{"command":"get_status"}');

			socket.on('httpServer', function (data) {

				data = JSON.parse(data);
				var temps = [3000,4000,5000];
				var dimming = [50, 100];
				var list = document.getElementById('Gourds');
				var i = data.length;					
				var gourd;
				var li;
				var span;
				var btn;
				var t;
				var space;
				var audioEl;
				var audioSrc;

				while(i--) {
					gourd = data[i];
					li = document.getElementById(gourd.address);
					
					if(!li) {
						li = document.createElement('li');
						li.id = gourd.address; 
						list.appendChild(li);

						audioEl = document.createElement('audio');
						audioEl.setAttribute("preload", "none");
						audioEl.autobuffer = false;
						audioEl.controls = true;

						audioSrc = document.createElement('source');
						audioSrc.type = 'audio/mpeg';
						audioSrc.src = 'http://192.168.2.2:8000/raspberrypi.m3u';
						audioEl.appendChild(audioSrc);

						span = document.createElement('span');
						li.appendChild(span);
						t = temps.length;

						while(t--) {
							space = document.createTextNode(" ");
							btn = document.createElement('a');
							btn.href = 'javascript:';
							btn.innerHTML = temps[t] + "K";
							btn.addEventListener('click', getOnSetColorTemp(gourd.address, temps[t]), true);
							li.appendChild(space);
							li.appendChild(btn);
						}

						d = dimming.length;

						while(d--) {
							space = document.createTextNode(" ");
							btn = document.createElement('a');
							btn.href = 'javascript:';
							btn.innerHTML = dimming[d] + "%";
							btn.addEventListener('click', getOnSetDimming(gourd.address, dimming[d]), true);
							li.appendChild(space);
							li.appendChild(btn);
						}

						li.appendChild(audioEl);
					}

					span = li.getElementsByTagName('span')[0];
					span.innerHTML = 
						gourd.address 
						+ ' - ' + ((gourd.listening) ? 'listening' : 'deaf')
						+ ' - ' + ((gourd.hot) ? 'hot' : 'cold')
						+ ' - color: ' + gourd.colorTemp 
						+ ' - dimming: ' + gourd.dimming;

					console.log(gourd);
				}
			});

	body
		ul#Gourds
		<input type="text" data-slider="true" data-slider-range="0,100" />
		<script>
		$("[data-slider]").simpleSlider();
		</script>
