!!! 5
html
	head
		script(src="/socket.io/socket.io.js")
		script
			function getOnSetColorTemp (address, temp) {
				return function (event) {
					//Code sto send temp here
					console.log(address + ' ' + temp);
				}
			}

			var socket = io.connect(document.location.href);
				socket.on('httpServer', function (data) {

					data = JSON.parse(data);
					var temps = [3000,4000,5000];
					var list = document.getElementById('Gourds');
					var i = data.length;					
					var gourd;
					var li;
					var span;
					var btn;
					var t;

					while(i--) {
						gourd = data[i];
						li = document.getElementById(gourd.address);
						
						if(!li) {
							li = document.createElement('li');
							li.id = gourd.address; 
							list.appendChild(li);

							span = document.createElement('span');
							li.appendChild(span);
							t = temps.length;
							while(t--) {
								btn = document.createElement('a');
								btn.href = 'javascript:';
								btn.innerHTML = temps[t];
								btn.addEventListener('click', getOnSetColorTemp(gourd.address, temps[t]), true);
								li.appendChild(btn);
							}
						}

						span = li.getElementsByTagName('span')[0];
						span.innerHTML = 
							gourd.address 
							+ ' - ' + ((gourd.listening) ? 'listening' : 'deaf')
							+ ' - ' + ((gourd.hot) ? 'hot' : 'cold')
							+ ' - color: ' + gourd.colorTemp 
							+ ' - dimming: ' + gourd.dimming;

						console.log(gourd);

					}

					socket.emit('tcp', '{"command":"set_colorTemp", "parameters":{"address":"localhost", "colorTemp":"4000"}}');
				}); 

				
	body
		ul#Gourds
